body {
    text-align: center;
}

#banner {
    background-color: tomato;
    width: 100px;
    height: 40px;
}

#left {
    background-color: lightseagreen;
    width: 25px;
    height: 80px;
    float: left;
}

#center {
    width: 50px;
    height: 80px;
    float: left;
}

#right {
    background-color: lightseagreen;
    width: 25px;
    height: 80px;
    float: left;
}

#footer {
    background-color: darkgray;
    width: 100px;
    height: 40px;
    clear: both;
}