.ornek {
    width: 900px;
    margin: auto;
}

.sola-kaydir {
    float: left;
    padding: 0 10px 10px 0;
}

.link1 {
    background-color: red;
    color: black;
}

.link2{
    background-color: blueviolet;
    color: black;
}